.createForm {
	display: flex;
	align-items: start;
	flex-direction: column;
	max-width: 250px;
}
label {
	padding-bottom: 8px;
}
input {
	width: 250px;
}
button {
	align-self: center;
}
.createApp {
	display: flex;

	justify-content: center;
}
